<!-- Blog Grid Section -->
<section id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How does our pricing work?</h2>
                <h3 class="section-subheading text-muted">Here at BaKu-app we offer development services of dedicated remote developers. 
                    We always look at the right developers for your situation when
                    determining the hourly rate. Factors that come into play here include the length and complexity of
                    the assignment and the skill set required.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="card-deck text-center">
                <div class="card md-4 text-center">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Mobile <br> Developer</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$25 <small class="text-muted">/ hour</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>iOS native</li>
                            <li>Android native</li>
                            <li>Xamarin Forms</li>
                            <li>Flutter</li>
                            <li>React Native</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-default btn-primary">Get Started</button>
                    </div>
                </div>
                <div class="card md-4 text-center">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Javascript </br> Developer
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$25 <small class="text-muted">/ hour</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>React.js</li>
                            <li>Vue.js</li>
                            <li>Anguler</li>
                            <li>Node.js</li>
                            <li>&nbsp;</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-default btn-primary">Get Started</button>
                    </div>
                </div>
                <div class="card md-4 text-center">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Back-end </br> Developer</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$25 <small class="text-muted">/ hour</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>.NET Core</li>
                            <li>Python</li>
                            <li>Java</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-default btn-primary">Get
                            Started</button>
                    </div>
                </div>
                <div class="card md-4 text-center">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Wordpress &</br> Web design</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$20 <small class="text-muted">/ hour</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Templates</li>
                            <li>Plugin development</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-default btn-primary">Get
                            Started</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 class="pricing-table-subheading text-muted text-center">
                    We provide higly skilled developers for a fraction of the costs?
                </h3>
                <table class="table table-borderless table-primary">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Our Developers</th>
                            <th scope="col">Normal NL rate</th>
                            <th scope="col">Savings hourly</th>
                            <th scope="col">Savings monthly</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Junior Developer</td>
                            <td><a href="#contact" class="page-scroll btn btn-primary">from $20 / hour</a></td>
                            <td>$40 / hour</td>
                            <td>$20 / hour</td>
                            <td>$3360</td>
                        </tr>
                        <tr>
                            <td>Medior Developer</td>
                            <td><a href="#contact" class="page-scroll btn btn-primary">from $30 / hour</a></td>
                            <td>$65 / hour</td>
                            <td>$40 / hour</td>
                            <td>$5600</td>
                        </tr>
                        <tr>
                            <td>Senior Developer</td>
                            <td><a href="#contact" class="page-scroll btn btn-primary">from $35 / hour</a></td>
                            <td>$90 / hour</td>
                            <td>$55 / hour</td>
                            <td>$8800</td>
                        </tr>
                        <tr>
                            <td>Multimedia Designer</td>
                            <td><a href="#contact" class="page-scroll btn btn-primary">from $25 / hour</a></td>
                            <td>$60 / hour</td>
                            <td>$40 / hour</td>
                            <td>$6400</td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-muted">*These rates are starting prices and can vary depending on the duration and skill set required for the assignment.</p>
            </div>
        </div>
    </div>
</section>